.article-list {
  display: flex;
  flex-wrap: wrap;

  &-article {
    flex: 0 1 calc(100% / var(--maxArticlesPerRow));
  }

  &-no-articles {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
.category {
  padding-left: 10px;
  padding-top: 10px;
}