<ng-container *ngIf="article else loadingArticle">
  <div class="article">
    <div class="article-header-image">
      <img src={{article.imageURI}} alt="Invalid Image">
    </div>

    <div class="article-header-image-text">
      <h2>{{ article.header }}</h2>
    </div>

    <span *ngIf="isLoggedIn">
      [ <a [routerLink]="[editLink]">Edit Article</a> ]
      <br/>
      <br/>
    </span>

    <div class="article-body" [innerHTML]="article.body"></div>
  </div>
</ng-container>
<ng-template #loadingArticle>
  <div class="article-body-loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
