<a class="article-preview-link" [routerLink]="['/article', article.articleId]">
  <div class="article-preview wiggle-item">
    <div class="article-preview-card-container">
      <mat-card appearance="raised">
        <img mat-card-image src="{{article.imageURI}}" alt="Auxilium">
        <div class="article-preview-headline-text">
          {{ article.header | slice:0:40 }}
        </div>
        <mat-card-content>
          <div class="article-preview-description">
            {{ article.body }}
          </div>
        </mat-card-content>
        <div class="article-preview-category-tag">{{ article.meta?.subCategory| uppercase }}</div>
      </mat-card>
    </div>
  </div>
</a>

