<div class="home">
  <div class="content">
    <img class="banner-image" src="assets/images/family.png" alt="Auxilium"/>
    <div class="content-details">
      <br/>
      <h2>Home</h2>
        Anyone with young children who tries to find useful information to help form or enculturate their children, that process could be frustrating.  Have you ever tried to:
        <ul>
          <li>
            Locate a trustworthy website for education of the whole child?  
          </li>
          <li>
            Find a reliable classic education reading list?  
          </li>
          <li>
            Ship your child to a summer camp?
          </li>
          <li>
            Fellowship with other normal families?  
          </li>
          <li>
            Spend hours trying to find family friendly resources?  
          </li>
        </ul>  
        If you have attempted any of the above, then you will find the goal of this website extremely useful.  The primary goal of the site is to provide a Single Point of Resource for "Whatever is true, whatever is honorable, whatever is just, whatever is pure, whatever is lovely, whatever is commendable." (Phil 4:8) We will attempt to connect specific resources that will help families grow in virtues and lead faith-filled lives.
      
        The objective is to help families grow in self-mastery and self-giving.  We hope you will be able to contribute to the website and enrich its usefulness.  What are the lessons learned, best practices, stories to reach the heart, lessons of excellence, …etc.
    </div>
  </div>
</div>
