<div class="navigation">
  <div class="navigation-header-image">
    <img src="/assets/images/auxilium-new.png" alt="Auxilium"/>
  </div>
  <div class="navigation-header-links">
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a routerLink="/family" routerLinkActive="active-link">Family</a>
    <a routerLink="/school" routerLinkActive="active-link">School</a>
    <a routerLink="/excellence" routerLinkActive="active-link">Excellence</a>
    <a routerLink="/ask" routerLinkActive="active-link">Help</a>
  </div>
</div>



