<div class="navigation">
  <div class="navigation-header-image">
    <img src="assets/images/auxilium-new.png" alt="Auxilium"/>
  </div>
  <div class="navigation-header-links">
    <button mat-stroked-button  routerLink="/home" routerLinkActive="active-link">Home</button>
    <button mat-stroked-button routerLink="/family" routerLinkActive="active-link">Family</button>
    <button mat-stroked-button routerLink="/school" routerLinkActive="active-link">School</button>
    <button mat-stroked-button routerLink="/excellence" routerLinkActive="active-link">Excellence</button>
    <button mat-stroked-button routerLink="/ask" routerLinkActive="active-link">Help</button>
  </div>
</div>



